# Archivo .editorconfig

# Establece el tipo de archivo y el juego de caracteres
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Reglas específicas para archivos JavaScript
[*.js]
quote_type = single
max_line_length = 100
