# Archivos generados por Node.js
node_modules/
dist/
build/

# Archivos de configuración y entorno
.env
.env.local
.env.*.local

# Archivos de respaldo
*.bak
*.swp

# Otros archivos y carpetas
.idea/
.vscode/
.DS_Store
