<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>
  <h1>User Profile</h1>
  <h2><%= user.name %></h2>
  <p>Email: <%= user.email %></p>
  <p>Age: <%= user.age %></p>
</body>
</html>
